@charset "UTF-8";
/*======= FONT FAMILY====== */
/*======= BODY ====== */
/*============= SET BORDER RADIUS ================= */
/*============== SET BOX SHADOW ================= */
/*============== SET FONT ================= */
/*============== SET FONT MOBILE ================= */
/*============== COLOR A:HOVER ================= */
/*============== ARTICLE MOBLE ================= */
/*============== WIGET MOBILE ================= */
/*============== SET COLUMN ================= */
/*============== SET PADDING FOOTER================= */
/*======= FONT FAMILY====== */
/*======= BODY ====== */
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

h1 {
  padding: 0px !important;
  margin: 0px !important;
}

h2 {
  padding: 0px !important;
  margin: 0px !important;
}

h3 {
  padding: 0px !important;
  margin: 0px !important;
}

h4 {
  padding: 0px !important;
  margin: 0px !important;
}

h5 {
  padding: 0px !important;
  margin: 0px !important;
}

h6 {
  padding: 0px !important;
  margin: 0px !important;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
}

.container {
  margin: 0 auto !important;
  width: 960px !important;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* ============== HEADER =============== */
header.l-header div.c-header .header-top {
  width: 100%;
  min-width: 960px;
  background: #ffc600;
}

header.l-header div.c-header .header-top div.container p {
  padding: 10px 0;
  color: #333333;
  font-size: 12px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

header.l-header div.c-header .header-bottom {
  height: 80px;
}

header.l-header div.c-header .header-bottom div.container > a {
  float: left;
  padding-right: 21px;
}

header.l-header div.c-header .header-bottom div.container ul.menu li {
  float: left;
  height: 80px;
  line-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

header.l-header div.c-header .header-bottom div.container ul.menu li img {
  height: 80px;
}

header.l-header div.c-header .header-bottom div.container ul.menu li a {
  display: block;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding: 0px 17px;
}

header.l-header div.c-header .header-bottom div.container ul.menu li a i {
  color: #ffc600;
  font-size: 18px;
  padding-right: 10px;
}

header.l-header div.c-header .header-bottom div.container ul.menu li a span {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding-right: 10px;
}

header.l-header div.c-header .header-bottom div.container ul.menu li.active, header.l-header div.c-header .header-bottom div.container ul.menu li:hover {
  border-bottom: 4px solid #ffc600;
}

header.l-header div.c-header .header-bottom div.container ul.menu li.email {
  background: #124f93;
  width: 198px;
}

header.l-header div.c-header .header-bottom div.container ul.menu li.email a {
  padding: 0px;
}

header.l-header div.c-header .header-bottom div.container ul.menu li.active-2 {
  background: #FFFFFF;
}

header.l-header div.c-header .header-bottom div.container ul.menu li.active-2 a span {
  color: #124f93;
}

header.l-header div.c-banner {
  width: 100%;
  min-width: 960px;
}

header.l-header div.c-banner img {
  width: 100%;
}

/* ============== Button =============== */
div.c-button a.more {
  display: inline-block;
  width: 158px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  background: #333333;
}

div.c-button a.more i {
  color: #ffc600;
  font-size: 20px;
  font-weight: normal;
  margin-left: 10px;
}

div.c-button a.btn {
  display: inline-block;
  width: 152px;
  height: 37px;
  background: #ffc600;
  text-align: center;
  line-height: 37px;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-title div.service-title div.service, div.c-title div.service-title div.store {
  height: 138px;
  background: url("../img/title_01.png") no-repeat;
  text-align: center;
  line-height: 80px;
}

div.c-title div.service-title div.service p, div.c-title div.service-title div.store p {
  color: #333333;
  font-size: 42px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-title div.service-title div.service p span, div.c-title div.service-title div.store p span {
  display: block;
  color: #333333;
  font-size: 26px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 10px;
}

div.c-title div.service-title div.works, div.c-title div.service-title div.contact {
  height: 138px;
  background: url("../img/title_02.png") no-repeat;
  text-align: center;
  line-height: 80px;
}

div.c-title div.service-title div.works p, div.c-title div.service-title div.contact p {
  color: #333333;
  font-size: 42px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-title div.service-title div.works p span, div.c-title div.service-title div.contact p span {
  display: block;
  color: #333333;
  font-size: 26px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 10px;
}

div.c-breadcum ul.breadcum li {
  float: left;
}

div.c-breadcum ul.breadcum li a {
  display: block;
  color: #006699;
  font-size: 12px;
}

div.c-breadcum ul.breadcum li.active a {
  color: #333333;
  font-size: 12px;
}

div.c-breadcum ul.breadcum li.active a:before {
  content: " > ";
  margin: 0 5px;
}

div.c-breadcum ul.breadcum li.active-no a {
  color: #006699;
}

div.c-breadcum ul.breadcum li.active-no a:before {
  content: " > ";
  margin: 0 5px;
}

div.c-breadcum ul.breadcum:after {
  content: "";
  display: table;
  clear: both;
}

div.c-subtitle div.subtitle-1 {
  display: inline-block;
}

div.c-subtitle div.subtitle-1 div.line-top-1 {
  border-top: 4px solid #ffc600;
  width: 90px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

div.c-subtitle div.subtitle-1 p {
  color: #333333;
  font-size: 34px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-subtitle div.subtitle-2 {
  display: inline-block;
}

div.c-subtitle div.subtitle-2 div.line-top-2 {
  border-top: 4px solid #ffc600;
  width: 90px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
}

div.c-subtitle div.subtitle-2 p {
  color: #999999;
  font-size: 16px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-info div.img {
  float: left;
}

div.c-info div.info {
  float: left;
  margin-left: 28px;
  width: 530px;
}

div.c-info div.info p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  margin-bottom: 50px;
}

div.c-info div.info p span {
  display: inline-block;
  margin-left: 17px;
}

div.c-info div.info div.info-title {
  color: #ec8500;
  font-size: 24px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-info div.info div.info-title-400 {
  color: #ec8500;
  font-size: 24px;
  font-weight: 400;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-info:after {
  content: "";
  display: table;
  clear: both;
}

div.c-article div.list-article p {
  color: #006699;
  font-size: 24px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-article div.list-article p:before {
  font-family: FontAwesome;
  content: "\f105";
  color: #ffc600;
  font-size: 24px;
  font-weight: bold;
}

div.c-article div.info-article div.text {
  width: 330px;
  height: 83px;
  background: #ffde6a;
  display: table-cell;
  vertical-align: middle;
}

div.c-article div.info-article div.text div.text-article {
  float: left;
  margin-left: 20px;
}

div.c-article div.info-article div.text div.text-article p {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
}

div.c-article div.info-article div.text div.subtitle-article {
  float: left;
  margin-left: 20px;
}

div.c-article div.info-article div.text div.subtitle-article p {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
}

div.c-widget div.box div.box-title {
  background: url("../img/bg_widget_01.png");
  width: 240px;
  height: 58px;
  line-height: 58px;
}

div.c-widget div.box div.box-title p {
  margin-left: 20px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}

div.c-widget div.box div.box-list {
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #ffc600;
  border-top: none;
}

div.c-widget div.box div.box-list ul li a {
  display: block;
  height: 52px;
  border-bottom: 1px solid #dddddd;
  line-height: 52px;
  padding-left: 20px;
  color: #006699;
  font-size: 16px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  position: relative;
}

div.c-widget div.box div.box-list ul li a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 10px;
  color: #ffc600;
  font-size: 16px;
}

div.c-widget div.box div.box-list ul li:last-child a {
  border-bottom: none;
}

div.c-list-icons div.icons ul.list-icons li {
  float: left;
}

div.c-list-icons div.icons ul.list-icons li a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  margin-right: 7px;
  color: #333333;
  font-size: 16px;
}

div.c-list-icons div.icons ul.list-icons li a.active {
  background: #ffc600;
  border: none;
}

div.c-list-icons div.icons ul.list-icons:after {
  content: "";
  display: table;
  clear: both;
}

div.c-list-icons div.next-page {
  margin-top: 50px;
}

div.c-list-icons div.next-page ul.list-next-page li {
  float: left;
}

div.c-list-icons div.next-page ul.list-next-page li a {
  display: block;
  padding: 13px 20px;
  border: 1px solid #dddddd;
  margin-right: 5px;
  color: #333333;
  font-size: 16px;
}

div.c-list-icons div.next-page ul.list-next-page:after {
  content: "";
  display: table;
  clear: both;
}

div.c-list-images div.box-images {
  width: 690px;
}

div.c-list-images div.box-img-small div.img-small {
  float: left;
  margin: 10px 10px 10px 0;
}

div.c-list-images div.box-img-small div.img-small img {
  display: block;
}

div.c-list-images div.box-img-small div.img-small:last-child {
  margin-right: 0px;
}

div.c-list-images div.box-img-small:after {
  content: "";
  display: table;
  clear: both;
}

div.c-form table {
  border-collapse: collapse;
}

div.c-form table tr {
  border-top: 1px solid #dddddd;
}

div.c-form table tr th {
  background: #f3f3f3;
  vertical-align: top;
  padding: 15px 0;
}

div.c-form table tr th div {
  margin-right: 10px;
}

div.c-form table tr th div.red {
  color: #fff;
  font-size: 12px;
  background: #c81b1b;
}

div.c-form table tr th div.gray {
  color: #fff;
  font-size: 12px;
  background: #888888;
}

div.c-form table tr th.title-form {
  height: 60px;
  width: 165px;
  background: #f3f3f3;
  padding-left: 20px;
  color: #333333;
  font-size: 16px;
}

div.c-form table tr td {
  padding: 15px 0;
  padding-left: 20px;
  color: #333333;
  font-size: 16px;
  vertical-align: top;
}

div.c-form table tr td input[type="text"] {
  display: block;
}

div.c-form table tr td input.long {
  width: 500px;
}

div.c-form table tr td input.selection {
  margin-top: 15px;
}

div.c-form table tr td input.short {
  width: 250px;
}

div.c-form table tr td p {
  margin-top: 10px;
}

div.c-form table tr td p span {
  margin-left: 10px;
}

div.c-form table tr td select {
  width: 145px;
}

div.c-form table tr td textarea {
  width: 702px;
  height: 70px;
}

div.c-form table tr:last-child {
  border-bottom: 1px solid #dddddd;
}

div.c-form div.btn-form {
  margin-top: 50px;
  text-align: center;
}

div.c-form div.btn-form a {
  display: inline-block;
  width: 227px;
  height: 56px;
  background: #124f93;
  line-height: 56px;
  color: #fff;
  font-size: 20px;
}

div.c-form div.btn-form a i {
  margin-left: 10px;
  color: #ffc600;
  font-size: 20px;
}

div.l-news-blog {
  width: 100%;
  min-width: 960px;
  height: 144px;
  position: relative;
}

div.l-news-blog div.bg-news-blog {
  background: url("../img/bg_news_blog_01.png");
  width: 50%;
  height: 144px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

div.l-news-blog div.c-news-blog div.container div.title-news-blog {
  background: url("../img/bg_news_blog_01.png") no-repeat;
  width: 200px;
  height: 144px;
  float: left;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.l-news-blog div.c-news-blog div.container div.title-news-blog h2 {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
}

div.l-news-blog div.c-news-blog div.container div.title-news-blog p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-news-blog div.c-news-blog div.container div.info-news-blog {
  float: left;
  background: #FFFFFF;
  height: 144px;
  width: 760px;
}

div.l-news-blog div.c-news-blog div.container div.info-news-blog div.time-news-blog, div.l-news-blog div.c-news-blog div.container div.info-news-blog div.text-news-blog {
  float: left;
  margin: 31px 0 0 30px;
}

div.l-news-blog div.c-news-blog div.container div.info-news-blog div.time-news-blog p, div.l-news-blog div.c-news-blog div.container div.info-news-blog div.text-news-blog p {
  color: #999999;
  font-size: 16px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  margin-bottom: 10px;
}

div.l-news-blog div.c-news-blog div.container div.info-news-blog div.text-news-blog p {
  color: #006699 !important;
}

div.l-news-blog div.c-news-blog div.container div.info-news-blog div.c-button a.more {
  float: right;
  margin-top: 50px;
}

div.l-news-blog div.c-news-blog div.container div.info-news-blog:after {
  content: "";
  display: table;
  clear: both;
}

div.l-service {
  width: 100%;
  min-width: 960px;
  background: #ffc600;
}

div.l-service div.container div.c-title {
  padding-top: 60px;
}

div.l-service div.container div.info-service {
  text-align: center;
}

div.l-service div.container div.info-service p.text-1 {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding-top: 41px;
}

div.l-service div.container div.info-service p.text-2 {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding-top: 27px;
}

div.l-service div.container div.info-service p.text-3 {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding: 49px 0 39px 0;
}

div.l-service div.container div.list-img-service div.img-service {
  margin: 0 30px 30px 0;
  float: left;
}

div.l-service div.container div.list-img-service div.img-service:nth-child(3n) {
  margin-right: 0px;
}

div.l-service div.container div.list-img-service:after {
  content: "";
  display: table;
  clear: both;
}

div.l-service div.container div.c-button {
  text-align: center;
  padding: 10px 0 59px 0;
}

div.l-work {
  min-width: 960px;
  width: 100%;
}

div.l-work div.container div.c-title {
  margin: 61px 0 40px 0;
}

div.l-work div.container div.list-img-work {
  margin-bottom: 40px;
}

div.l-work div.container div.list-img-work div.img-work {
  float: left;
  margin-right: 30px;
}

div.l-work div.container div.list-img-work div.img-work:last-child {
  margin-right: 0px;
}

div.l-work div.container div.list-img-work:after {
  content: "";
  display: table;
  clear: both;
}

div.l-work div.container div.c-button {
  text-align: center;
  margin-bottom: 60px;
}

div.l-store {
  min-width: 960px;
  width: 100%;
  background: #ffc600;
}

div.l-store div.container div.c-title {
  padding: 60px 0 40px 0;
}

div.l-store div.container div.img-store {
  width: 480px;
  float: left;
  padding-bottom: 60px;
}

div.l-store div.container div.img-store img {
  height: 280px;
}

div.l-store div.container div.info-store {
  width: 480px;
  float: left;
}

div.l-store div.container div.info-store p {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding-bottom: 17px;
}

div.l-store div.container div.info-store p.text-2 {
  padding-bottom: 0px;
}

div.l-store div.container div.info-store p.text-3 {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding: 29px 0 38px 0;
}

div.l-store div.container div.c-button {
  text-align: right;
}

div.l-store div.container:after {
  content: "";
  display: table;
  clear: both;
}

div.l-contact {
  width: 100%;
  min-width: 960px;
  margin-bottom: 80px;
}

div.l-contact div.container div.c-title {
  margin-top: 50px;
}

div.l-contact div.container p.info-contact {
  padding: 39px 0;
  text-align: center;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-contact div.container div.phone {
  float: left;
  width: 465px;
  height: 103px;
  text-align: center;
  border: 4px solid #dddddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.l-contact div.container div.phone div.number-phone {
  padding-top: 9px;
  color: #333333;
  font-size: 32px;
  font-weight: bold;
}

div.l-contact div.container div.phone div.time {
  margin: 0 auto;
  width: 238px;
  height: 24px;
  background: #333333;
  line-height: 24px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

div.l-contact div.container div.email {
  float: left;
  width: 465px;
  height: 103px;
  text-align: center;
  background: #124f93;
  margin-left: 30px;
}

div.l-contact div.container div.email a {
  padding-top: 33px;
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-contact div.container div.email a i {
  color: #ffc600;
  font-size: 35px;
  margin-right: 15px;
}

div.l-contact div.container div.email a span {
  margin-right: 15px;
}

div.l-contact div.container:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-store div.container {
  text-align: center;
}

div.l-content-store div.container div.c-breadcum {
  margin: 21px 0 49px 0;
}

div.l-content-store div.container p.text-1 {
  padding-bottom: 49px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-content-store div.container p.text-2 {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-content-store div.container div.c-subtitle {
  margin: 60px 0 40px 0;
}

div.l-content-store div.container div.content-store {
  margin-bottom: 82px;
}

div.l-content-store div.container div.content-store div.content-right {
  float: left;
}

div.l-content-store div.container div.content-store div.content-right table {
  border-collapse: collapse;
}

div.l-content-store div.container div.content-store div.content-right table tr th {
  border: 1px solid #dddddd;
  border-right: none;
  height: 56px;
  width: 124px;
  background: #f3f3f3;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-content-store div.container div.content-store div.content-right table tr td {
  border: 1px solid #dddddd;
  height: 56px;
  width: 504px;
  border-width: 1px 0 1px 0;
  text-align: left;
  padding-left: 21px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.l-content-store div.container div.content-store div.content-left {
  float: left;
  margin-left: 26px;
}

div.l-content-store div.container div.content-store div.content-left div.img-store {
  margin-bottom: 20px;
}

div.l-content-store div.container div.content-store div.content-left div.img-store:last-child {
  margin-bottom: 0px;
}

div.l-content-store div.container div.content-store:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-service {
  margin-bottom: 80px;
  min-width: 960px;
  width: 100%;
}

div.l-content-service div.container div.c-breadcum {
  padding-top: 20px;
}

div.l-content-service div.container p.text-title {
  padding: 49px 0 30px 0;
  color: #ec8500;
  font-size: 24px;
  font-weight: bold;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  text-align: center;
}

div.l-content-service div.container p.text-1, div.l-content-service div.container p.text-2 {
  text-align: center;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-content-service div.container p.text-2 {
  padding-bottom: 58px;
}

div.l-content-service div.container div.c-subtitle {
  text-align: center;
}

div.l-content-service div.container div.c-subtitle div.subtitle-1 {
  padding: 55px 0 38px 0;
}

div.l-content-service div.container div.c-info p.no-padding {
  padding-bottom: 17px;
}

div.l-content-service div.container div.info-service {
  background: url("../img/bg_service_01.png");
  height: 104px;
  min-width: 960px;
  text-align: center;
  width: 100%;
  margin-top: 30px !important;
}

div.l-content-service div.container div.info-service p {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding-top: 20px;
}

div.l-content-work {
  min-width: 960px;
  width: 100%;
}

div.l-content-work div.container div.c-breadcum {
  padding: 21px 0 49px 0;
}

div.l-content-work div.container div.work-left {
  width: 720px;
  float: left;
  text-align: center;
}

div.l-content-work div.container div.work-left div.c-article {
  float: left;
  margin: 0 30px 40px 0;
}

div.l-content-work div.container div.work-left div.c-article div.list-article {
  text-align: left;
}

div.l-content-work div.container div.work-left:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-work div.container div.work-left div.c-list-icons div.icons ul.list-icons {
  display: inline-block;
}

div.l-content-work div.container div.work-right {
  width: 240px;
  float: left;
}

div.l-content-work div.container div.work-right div.c-widget {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

div.l-content-work div.container div.work-right div.c-widget:last-child {
  margin-bottom: 80px;
}

div.l-content-work div.container:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-work-detail {
  min-width: 960px;
  width: 100%;
}

div.l-content-work-detail div.container div.c-breadcum {
  padding: 21px 0 49px 0;
}

div.l-content-work-detail div.container div.work-detail-right {
  float: left;
  width: 720px;
}

div.l-content-work-detail div.container div.work-detail-right div.title-work-detail div.c-subtitle {
  float: left;
}

div.l-content-work-detail div.container div.work-detail-right div.title-work-detail div.c-button {
  float: right;
  margin-right: 30px;
}

div.l-content-work-detail div.container div.work-detail-right div.title-work-detail:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-work-detail div.container div.work-detail-right h2 {
  padding: 16px 0 30px 0 !important;
  color: #333333;
  font-size: 34px;
  font-weight: bold;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-content-work-detail div.container div.work-detail-right div.c-list-images {
  margin-bottom: 21px;
}

div.l-content-work-detail div.container div.work-detail-right p {
  padding-bottom: 50px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  width: 690px;
}

div.l-content-work-detail div.container div.work-detail-right div.c-list-icons {
  text-align: center;
  margin-bottom: 80px;
}

div.l-content-work-detail div.container div.work-detail-right div.c-list-icons div.next-page {
  display: inline-block;
}

div.l-content-work-detail div.container div.work-detail-left {
  float: left;
  width: 240px;
}

div.l-content-work-detail div.container div.work-detail-left div.c-widget {
  margin-bottom: 20px;
}

div.l-content-work-detail div.container:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-blog div.container div.c-breadcum {
  padding: 21px 0 47px 0;
}

div.l-content-blog div.container div.content-blog-left {
  float: left;
  width: 720px;
}

div.l-content-blog div.container div.content-blog-left div.article-blog {
  float: left;
  width: 690px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dddddd;
}

div.l-content-blog div.container div.content-blog-left div.article-blog div.content-right {
  width: 270px;
  float: left;
}

div.l-content-blog div.container div.content-blog-left div.article-blog div.content-left {
  width: 420px;
  float: left;
}

div.l-content-blog div.container div.content-blog-left div.article-blog div.content-left p.info-blog {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding-bottom: 48px;
}

div.l-content-blog div.container div.content-blog-left div.article-blog:nth-child(2n) {
  border-bottom: none;
  padding-top: 40px;
}

div.l-content-blog div.container div.content-blog-left div.list-page {
  margin-bottom: 76px;
  text-align: center;
}

div.l-content-blog div.container div.content-blog-left div.list-page div.c-list-icons {
  display: inline-block;
}

div.l-content-blog div.container div.content-blog-left:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-blog div.container div.content-blog-right {
  float: left;
}

div.l-content-blog div.container div.content-blog-right div.c-widget {
  margin-bottom: 20px;
}

div.l-content-blog div.container:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-contact div.container div.c-breadcum {
  padding: 21px 0 49px 0;
}

div.l-content-contact div.container div.info-contact {
  text-align: center;
}

div.l-content-contact div.container div.info-contact p {
  padding-bottom: 49px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-content-contact div.container div.c-form {
  margin-bottom: 80px;
}

div.c-back-to-top a {
  display: inline-block;
  width: 62px;
  height: 62px;
  background: #ffffff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  line-height: 62px;
  text-align: center;
}

div.c-back-to-top a i {
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}

div.c-back-to-top a i:after {
  content: "";
  border-top: 3px solid #333333;
  display: block;
}

/* ============== Elements =============== */
/* ============== Footer =============== */
div.c-footer {
  min-width: 960px;
  width: 100%;
  position: relative;
}

div.c-footer div.footer-top {
  background: #ffc600;
  height: 286px;
}

div.c-footer div.footer-top div.container div.left {
  min-width: 480px;
  float: left;
  margin: 30px 0;
}

div.c-footer div.footer-top div.container div.left div.logo-footer {
  margin-bottom: 25px;
}

div.c-footer div.footer-top div.container div.left div.info {
  float: left;
  margin-right: 20px;
}

div.c-footer div.footer-top div.container div.left div.info p {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  text-decoration: none !important;
}

div.c-footer div.footer-top div.container div.left div.add {
  floar: left;
}

div.c-footer div.footer-top div.container div.left div.add p {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-footer div.footer-top div.container div.left div.add p span {
  margin-left: 15px;
}

div.c-footer div.footer-top div.container div.right {
  min-width: 480px;
  width: 50%;
  float: left;
  position: absolute;
  left: 50%;
}

div.c-footer div.footer-bottom {
  background: #333333;
}

div.c-footer div.footer-bottom div.container div.menu-footer {
  text-align: center !important;
  padding: 30px 0;
  border-bottom: 1px solid #666666;
}

div.c-footer div.footer-bottom div.container div.menu-footer ul.menu {
  display: inline-block;
}

div.c-footer div.footer-bottom div.container div.menu-footer ul.menu li {
  float: left;
}

div.c-footer div.footer-bottom div.container div.menu-footer ul.menu li a {
  color: #fff;
  font-size: 14px;
  display: block;
  padding: 0 10px;
  border-right: 1px solid #FFF;
}

div.c-footer div.footer-bottom div.container div.menu-footer ul.menu:after {
  content: "";
  display: table;
  clear: both;
}

div.c-footer div.footer-bottom div.container div.copy-right p {
  text-align: center;
  color: #666666;
  font-size: 12px;
  padding: 15px 0;
}

/* ============== Mobile =============== */
